{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{super()}}
<link rel="stylesheet" href={{url_for('static',filename='css/forms/basic.css')}}>

{% endblock %}
{% block title %}Enterobase - Delete your account{% endblock %}

{% block maincontent %}


    <p align="center">
        <div class="register">
          <h3>Delete your account</h3>
          <p><b>Are you sure you wish to delete your account on EnteroBase?</b><br>
          Your account and all data generated such as trees and workspaces will be unrecoverable.
          To confirm the deletion of your EnteroBase account, please enter your password and click 'Delete my account'.</p>
          <form class="form-hrizontal" method="POST" id="delete-form">
           {{ form.hidden_tag() }}
            
                {{macros.render_field(form.password) }} 
            <div>
              <label></label>
              <div  class= "button">{{ form.submit() }} </div> 
            </div>
          </form>
      </div>
    </p>
 
{% endblock %}
