{% extends "species/species_base.html" %}

{% block head %}
{{super()}}


{% endblock %}
{% block title %}Enterobase{% endblock %}

{% block maincontent %}
<h1 style="font-style:italic">{{config['ACTIVE_DATABASES'].get(species)[0]}}</h1>
<p>
{% if user_tasks['active'] == 1 %}
<b><a href='{{url_for('species.my_jobs',species=species)}}'>You have {{user_tasks['running']}} tasks running, {{user_tasks['completed']}} tasks completed and {{user_tasks['failed']}} tasks failed. </a></b><br>
{% endif %}
{% if user_tasks['curation'] > 0 %}
You have {{user_tasks['curation']}} records awaiting curation.
{% endif %}
NEW USERS! <a href='{{url_for('species.add_uploaded_reads',species=species)}}'>Click here to submit reads for assembly and sequence typing</a><br>
<a href='{{url_for('species.search_strains',species=species)}}'>Click here browse strain records for <i>{{config['ACTIVE_DATABASES'].get(species)[0]}}</i></a><br></p>
<div class = "row">
  <div class="col-md-6">
      <div id="chartContainer1" style="height: 300px"></div>
  </div>

  <div class="col-md-6">
    <div id="chartContainer2" style="height: 300px"></div>
  </div>
</div>
<div class= "row">
  <div class = "col-md-6">
    <div  id = "cum-total-div"></div>
  </div>
</div>

{% endblock %}



{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/graph/canvasjs.min.js')}}"></script>
<script>
var species = "{{species}}";

function errorCallback(msg){
  console.log(msg);
}



function renderCumulativeChart(holder,data){
 var dataPoints = []
  for (var index in data){
     var row = data[index];
     var dat = row[0].split("-");
     
    dataPoints.push({x:new Date(parseInt(dat[0])+2000,parseInt(dat[1]),1),y:row[1]});
  }
   var chart = new CanvasJS.Chart(holder,
    {
      title: {
        text: "Database Size"
      },
      data: [
        {
        type: "area",
        dataPoints:dataPoints
        }
       ]
    });
    chart.render();

};

function renderPieChart(holder,title,data){
    var chart = new CanvasJS.Chart(holder,
    {
      title:{
        text: title
      },
      toolTip:{
        content: function(e){

         return e.entries[0].dataPoint.legendText;

        }
      },

       data:[
      {
         type: "pie",
         indexLabelMaxWidth: 80,
         indexLabelFontSize:10,
         indexLabelWrap: false,
       showInLegend: false,
       dataPoints: data
      }
      ]
      });

    chart.render();
}

$(function(){
   var sendData={
    fields:"country,contact",
    database:species
  };
  Enterobase.call_restful_json("/species/get_database_info","POST",sendData,errorCallback).done(function(data){
    renderPieChart("chartContainer1","Country",data['pie_data']['country']);
    renderPieChart("chartContainer2","Institution",data['pie_data']['contact']);
    renderCumulativeChart("cum-total-div",data["cum_totals"]);
  });
});


 </script>
{% endblock %}